body {
    background-image: url('image/Foto2.jpg');
    align-items: center;
}
    header {
    align-items: center;
    background-size: contain;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: rgb(85, 34, 85);
    background-attachment: scroll;
}
[alt=Fotosobremi] {
    width: 200px;
    height: 187px;
    margin-top: 0.68em;
    margin-bottom: 0.68em;
}
nav {
    display: flex;
    justify-content: center;
}
a {
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 10px;
    color: rgb(85, 34, 85);
    background: rgb(235, 151, 197);
}
h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
}
footer {
    background: rgb(235, 151, 197);
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*prueba